%section.content-header
  %h1
    Resend confirmation instructions
%section.content
  .row
    .col-md-6
      .box.box-primary
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .box-body
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, id: 'exampleInputEmail1', class: 'form-control', placeholder: 'Enter email'
          .box-footer
            = f.submit "Resend confirmation instructions", class: 'btn btn-primary'
        = render "devise/shared/links"