.login-box-body
  %h4.login-box-msg= t('sign_up.captions.header')
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group.has-feedback
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('common.captions.email')
      %span.glyphicon.glyphicon-envelope.form-control-feedback
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    .form-group.has-feedback
      = f.password_field :password, class: 'form-control', placeholder: t('login.captions.password')
      %span.glyphicon.glyphicon-lock.form-control-feedback
    .form-group.has-feedback
      = f.password_field :password_confirmation, class: 'form-control', placeholder: t('sign_up.captions.confirm_password')
      %span.glyphicon.glyphicon-lock.form-control-feedback
    .row
      .col-xs-offset-7.col-xs-5
        = f.submit t('sign_up.captions.button.join_invoice_me'), class: 'btn btn-primary btn-block btn-flat'
  = render 'devise/shared/links'