- date_of_issue =  l ( @invoice.date_of_issue.present? ? @invoice.date_of_issue : Date.today )
- paid_to_date = l ( @invoice.paid_to_date.present? ? @invoice.paid_to_date: Date.today )
= form_for @invoice do |f|
  .row
    .col-md-6
      .box.box-primary
        .box-body
          .form-group
            = label_tag :client
            = f.select :client_id, get_clients, {}, class: "form-control selectclient"
          - if @invoice.new_record?
            .form-group
              = label_tag :address
              = label_tag "", formatted_address(current_user.company.clients.first), class: "form-control remove_border_element invoice_address_height", id: "client_address"
          - else
            .form-group
              = label_tag :address
              = label_tag "", formatted_address(@invoice.client), class: "form-control remove_border_element invoice_address_height", id: "client_address"
          .form-group
            = label_tag :currency, "Currency"
            = currency_select("invoice", "currency_code", { selected: @invoice.currency_code}, {}, class: 'form-control currency_select')
    .col-md-6
      .box.box-primary
        .box-body
          .form-group
            = f.label :invoice_number
            - if @invoice.new_record?
              = text_field_tag "invoice[invoice_number]", Invoice.find_next_available_number_for, class: "form-control"
            - else
              = f.text_field :invoice_number, class: "form-control"
          .form-group
            = f.label :date_of_issue
            = text_field_tag "invoice[date_of_issue]", date_of_issue, {data: {provide: :datepicker}, class: "form-control"}
          .form-group
            = f.label :due_date
            = text_field_tag "invoice[paid_to_date]", paid_to_date, {data: {provide: :datepicker}, class: "form-control"}
          .form-group
            = f.label :po_number
            = f.text_field :po_number, class: "form-control"
  %h3 Line Items
  .row
    .col-md-12
      .box
        .box-header
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tbody
              %tr
                %th.width10.invoice_margin_left2 Item
                %th.width20.invoice_margin_left2 Description
                %th.width10.invoice_margin_left2 Unit Cost
                %th.width10.invoice_margin_left2 Qty
                %th.width10.invoice_margin_left2 Discount ( % )
                %th.width10.invoice_margin_left2 Tax1
                %th.width10.invoice_margin_left2 Tax2
                %th.width10.invoice_margin_left2 Line Total
                %th.width20.invoice_margin_left2 Remove
          #line_items.not_records_found_h3
            = f.fields_for :line_items do |line_item|
              = render 'line_item_fields', f: line_item
        .links.invoice_margin_left.not_records_found_h3
          = link_to_add_association 'Add Item', f, :line_items, class: 'btn btn-primary btn-flat'
  .row
    .col-md-8
    .col-md-4
      .box.remove_border_element
        .box-body
          .form-group
            - if @invoice.new_record?
              = label_tag :line_total,"Line Total: "
              = text_field_tag "line_total", "0.00", class: 'form-control'
            - else
              = label_tag :line_total,"Line Total: "
              = text_field_tag "line_total", line_total_calculation(@invoice), class: 'form-control'
          .form-group
            - if @invoice.new_record?
              = label_tag :discount,"Discount ( % ): "
              = text_field_tag "invoice[discount]", "0.00", class: 'form-control'
            - else
              = label_tag :discount,"Discount ( % ): "
              = text_field_tag "invoice[discount]", number_with_precision(@invoice.discount, precision: 2), class: 'form-control'
          .form-group
            - if @invoice.new_record?
              = label_tag "","Total (AFN) : ", { id: "show_currency" }
              = text_field_tag :invoice_total, "0.00", class: 'form-control'
            - else
              = label_tag "","Total (#{@invoice.currency_code.to_s.upcase}) : ", { id: "show_currency" }
              = text_field_tag :invoice_total, number_with_precision(@invoice.total_amount, :precision => 2), class: 'form-control'
          - @taxes_data = get_taxes_data
          - @total = 0.00
          - @taxes_data.each do  |tax|
            - @total_amt = 0.0
            - @invoice.line_items.each do |line_item|
              - if line_item.tax1 == tax.id || line_item.tax2 == tax.id
                - @amt = (line_item.line_total.to_f * (tax.rate.to_f / 100.00))
                - @total_amt = @total_amt + @amt
              - if (line_item.tax_1.present? && tax.parent.present? && line_item.tax_1 == tax.parent) || (line_item.tax_2.present? && tax.parent.present? && line_item.tax_2 == tax.parent)
                - @amt = (line_item.line_total.to_f * (tax.rate.to_f / 100.00))
                - @total_amt = @total_amt + @amt
            - @total = @total + @total_amt
            .form-group
              = label_tag "","Tax (#{tax.rate}%) : "
              = text_field_tag "tax_"+tax.id.to_s, number_with_precision(@total_amt, :precision => 2), class: 'form-control'
              = hidden_field_tag "rate_"+tax.id.to_s, tax.rate
              = hidden_field_tag "parent_"+tax.parent.id.to_s, tax.id.to_s if tax.parent.present?
          .form-group
            - if @invoice.new_record?
              = label_tag "","Grand Total : "
              = text_field_tag :grand_total, "0.00", class: 'form-control'
            - else
              = label_tag "","Grand Total : "
              = text_field_tag :grand_total, number_with_precision(@invoice.total_amount+@total, :precision => 2), class: 'form-control'
  .row
    .col-md-12
      .box.remove_border_element
        .box-body
          .form-group
            = f.label "Notes"
            = f.text_area :notes, rows: 5, cols: 70, class: "form-control width500"
          - unless @invoice.new_record?
            .form-group
              = label_tag "Send To "
              = label_tag @invoice.client.contact_details.first.email
          .form-group
            = hidden_field_tag :email_send, :value => "false", :id => "email_send"
            = f.button "Save as Draft", class: "btn btn-primary btn-flat", id: "submit_button", data: { disable_with: "Saving..." }
            = f.button "Save & Send by Email", class: "btn btn-primary btn-flat", id: "send_button", data: { disable_with: "Saving and Sending Email..." }

:javascript
  $(document).ready(function() {
    $('#invoice_date_of_issue, #invoice_paid_to_date').datepicker({autoclose: true});

    $("#invoice_total").on('change', function() {
      if(!isNaN(parseFloat($("#invoice_total").val()))) {
        $($("#invoice_discount").val("0.00"));
        var total = 0
        $('[id$="_line_total"]').each(function() {
            if ( $(this).is(':visible') && !isNaN(parseFloat($( this ).val()))) {
               total = total + parseFloat($(this).val());
           }
         });
         $("#invoice_total").val(total.toFixed(2));
      }
    });
  });