- date_of_issue =  l ( @invoice.date_of_issue.present? ? @invoice.date_of_issue : Date.today )
- paid_to_date = l ( @invoice.paid_to_date.present? ? @invoice.paid_to_date: Date.today )
= form_for @invoice do |f|
  .row
    .col-md-6
      .box.box-primary
        .box-body
          .form-group
            = label_tag :client
            = f.select :client_id, get_clients, {}, class: "form-control selectclient"
          - if @invoice.new_record?
            .form-group
              = label_tag :address
              = label_tag "", formatted_address(current_user.company.clients.first), class: "form-control remove_border_element invoice_address_height", id: "client_address"
          - else
            .form-group
              = label_tag :address
              = label_tag "", formatted_address(@invoice.client), class: "form-control remove_border_element invoice_address_height", id: "client_address"
          .form-group
            = label_tag :currency, "Currency"
            = currency_select("invoice", "currency_code", { selected: @invoice.currency_code}, {}, class: 'form-control currency_select')
    .col-md-6
      .box.box-primary
        .box-body
          .form-group
            = f.label :invoice_number
            - if @invoice.new_record?
              = text_field_tag "invoice[invoice_number]", Invoice.find_next_available_number_for, class: "form-control"
            - else
              = f.text_field :invoice_number, class: "form-control"
          .form-group
            = f.label :date_of_issue
            = text_field_tag "invoice[date_of_issue]", date_of_issue, {data: {provide: :datepicker}, class: "form-control"}
          .form-group
            = f.label :due_date
            = text_field_tag "invoice[paid_to_date]", paid_to_date, {data: {provide: :datepicker}, class: "form-control"}
          .form-group
            = f.label :po_number
            = f.text_field :po_number, class: "form-control"
  %h3 Line Items
  .row
    .col-md-12
      .box
        .box-header
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tbody
              %tr
                %th.width20 Item
                %th.width20 Description
                %th.width10 Unit Cost
                %th.width10 Qty
                %th.width10 Discount ( % )
                %th.width10 Line Total
                %th.width20 Remove
          #line_items
            = f.fields_for :line_items do |line_item|
              = render 'line_item_fields', f: line_item
        .links
          = link_to_add_association 'add line item', f, :line_items
  .row
    .col-md-7
    .col-md-5
      .box.remove_border_element
        .box-body
          .form-group
            - if @invoice.new_record?
              = label_tag :discount,"Invoice Discount ( % ): "
              = text_field_tag "invoice[discount]", "0.00"
            - else
              = label_tag :discount,"Invoice Discount ( % ): "
              = text_field_tag "invoice[discount]", @invoice.discount.to_s
          .form-group
            - if @invoice.new_record?
              = label_tag "","Invoice Total (AFN) : ", { id: "show_currency" }
              = text_field_tag :invoice_total, "0.00"
            - else
              = label_tag "","Invoice Total (#{@invoice.currency_code.to_s.upcase}) : ", { id: "show_currency" }
              = text_field_tag :invoice_total, @invoice.total_amount.to_s
  .row
    .col-md-12
      .box.remove_border_element
        .box-body
          .form-group
            = f.label "Notes"
            = f.text_area :notes, rows: 5, cols: 70, class: "form-control width500"
          - unless @invoice.new_record?
            .form-group
              = label_tag "Send To "
              = label_tag @invoice.client.contact_details.first.email
          .box-footer
            = hidden_field_tag :email_send, :value => "false", :id => "email_send"
            = f.submit "Save as Draft", class: "btn btn-primary", id: "submit_button", data: { disable_with: "Saving..." }
            = f.button "Save & Send by Email", class: "btn btn-primary", id: "send_button", data: { disable_with: "Saving..." }

:javascript
  $(document).ready(function() {
    $(function() {
      $('.datepicker').datepicker();
    });
    $("#invoice_total").on('change', function() {

        if(!isNaN(parseFloat($("#invoice_total").val()))) {

            $($("#invoice_discount").val("0.00"));
            var total = 0
            $('[id$="_line_total"]').each(function() {
               total = total + parseFloat($( this ).val());
             });
             $("#invoice_total").val(total);
        }
    });
  });