- date_of_issue = @invoice.date_of_issue.present? ? @invoice.date_of_issue : Date.today
- paid_to_date = @invoice.paid_to_date.present? ? @invoice.paid_to_date: Date.today
= form_for @invoice do |f|
  .row
    .col-md-6
      .box.box-primary
        .box-body
          .form-group
            = label_tag :client
            = f.select :client_id, get_clients, {}, class: "form-control selectclient"
          .form-group
            = label_tag :address
            = label_tag "", get_address(@invoice), class: "form-control remove_border_element", id: "client_address"
          .form-group
            = label_tag :currency, "Currency"
            = currency_select("invoice", "currency_code", { selected: @invoice.currency_code}, {}, class: 'form-control currency_select')
    .col-md-6
      .box.box-primary
        .box-body
          .form-group
            = f.label :invoice_number
            - if @invoice.new_record?
              = text_field_tag "invoice[invoice_number]", Invoice.find_next_available_number_for, class: "form-control"
            - else
              = text_field_tag "invoice[invoice_number]", @invoice.invoice_number, class: "form-control"
          .form-group
            = f.label :date_of_issue
            = text_field_tag "invoice[date_of_issue]", format_date(date_of_issue), {data: {provide: :datepicker}, class: "form-control"}
          .form-group
            = f.label :due_date
            = text_field_tag "invoice[paid_to_date]", format_date(paid_to_date), {data: {provide: :datepicker}, class: "form-control"}
          .form-group
            = f.label :po_number
            = f.text_field :po_number, class: "form-control"
  %h3 Line Items
  .row
    .col-md-12
      .box
        .box-header
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tbody
              %tr
                %th.width20 Item
                %th.width30 Description
                %th.width10 Unit Cost
                %th.width10 Qty
                %th.width10 Line Total
                %th.width20 Remove
          #line_items
            = f.fields_for :line_items do |line_item|
              = render 'line_item_fields', f: line_item
        .links
          = link_to_add_association 'add line item', f, :line_items
  .row
    .col-md-7
    .col-md-5
      .box.remove_border_element
        .box-body
          .form-group
            - if @invoice.new_record?
              = label_tag "","Invoice Total (AFN) : ", { id: "show_currency" }
              = text_field_tag :invoice_total, "0.00"
            - else
              = label_tag "","Invoice Total (#{@invoice.currency_code.to_s.upcase}) : ", { id: "show_currency" }
              = text_field_tag :invoice_total, @invoice.total_amount.to_s
  .row
    .col-md-12
      .box.remove_border_element
        .box-body
          .form-group
            = f.label "Notes"
            = f.text_area :notes, rows: 5, cols: 70, class: "form-control width500"
          .form-group
            = label_tag "Send To "
            = label_tag " pragati.doshi@botreeconsulting.com"
          .box-footer
            = hidden_field_tag :email_send, :value => "false", :id => "email_send"
            = f.submit "Save as Draft", class: "btn btn-primary", id: "submit_button", data: { disable_with: "Please wait..." }
            = f.button "Save & Send by Email", class: "btn btn-primary", id: "send_button", data: { disable_with: "Please wait..." }

:javascript

  $(function() {
    $('.datepicker').datepicker({ dateFormat: "yyyy-mm-dd", autoclose: true });
  });