%tr
  %td= invoice.invoice_number
  %td= invoice.client.name
  %td= l invoice.paid_to_date if invoice.paid_to_date.present?
  %td= l invoice.date_of_issue if invoice.date_of_issue.present?
  %td= invoice_total_formatted(invoice)
  %td= invoice.status.gsub('_',' ')
  %td.text-center
    = link_to invoice_path(invoice) do
      %i.fa.fa-eye
    &nbsp;&nbsp;
    = link_to edit_invoice_path(invoice) do
      %i.fa.fa-edit
    &nbsp;&nbsp;
    = link_to invoice_path(invoice), method: :delete, data: { confirm: "Are you sure?" } do
      %i.fa.fa-trash-o
    &nbsp;&nbsp;
    = link_to "Payments", invoice_payments_path(invoice)