.login-box-body
  %h4.login-box-msg= t('forgot_password.captions.header')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group.has-feedback
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('common.captions.email')
      %span.glyphicon.glyphicon-envelope.form-control-feedback
    .form-group.has-feedback
    .row
      .col-xs-10.col-xs-offset-2
        = f.submit t('forgot_password.captions.button.send_reset_instruction'), class: 'btn btn-primary btn-block btn-flat'
  = render "devise/shared/links"