%tr
  %td= client.name
  %td= client.address_city 
  %td= country_name(client.address_country_code)
  - client.contact_details.each do |contact_detail|
    %td= contact_detail.first_name if contact_detail.first_name.present?
    %td= contact_detail.last_name if contact_detail.last_name.present?
    %td= contact_detail.phone if contact_detail.phone.present?
    %td= contact_detail.mobile if contact_detail.mobile.present?
  %td
    %div 
      = link_to "Edit", edit_client_path(client) 
      = link_to "Delete", client_path(client), 'data-confirm' => 'Are you sure?', method: :delete