%tr
  %td= index+1
  %td.client_td_width= client.name
  %td= client_location(client)
  - client.contact_details.each do |contact_detail|
    %td= full_name(contact_detail) if contact_detail.first_name.present? || contact_detail.last_name.present?
    %td= contact_detail.email if contact_detail.email.present?
    %td= contact_detail.mobile if contact_detail.mobile.present?
  %td.text-center
    %div 
      = link_to edit_client_path(client) do
        %i.fa.fa-edit
      &nbsp;&nbsp;
      = link_to client_path(client), method: :delete, data: { confirm: "Are you sure?" }  do
        %i.fa.fa-trash-o