= simple_form_for @client do |f|
 
  %h3 Client
  .field
    = label_tag :name, "Name"
    %br/
    = text_field_tag "client[name]", @client.name
    %br/
  .field
    = label_tag :currency, "Currency"
    %br/
    = currency_select("client", "currency_code", {selected: @client.currency_code})
    %br/

  %h3 Client Address Details

  = f.fields_for :address do |address_form|
        
    .field
      = label_tag :address_street_1, "Street1"
      %br/
      = address_form.text_field "street_1"
      %br/

    .field
      = label_tag :address_street_2, "Street2"
      %br/ 
      = address_form.text_field "street_2"
      %br/

    .field
      = label_tag :address_city, "city"
      %br/
      = address_form.text_field "city"
      %br/

    .field
      = label_tag :address_state, "State"
      %br/
      = address_form.text_field "state"
      %br/

    .field
      = label_tag :address_pincode, "Pincode"
      %br/
      = address_form.text_field "pincode"
      %br/

    .field
      = label_tag :address_country, "Country"
      %br/
      = country_select("client[address_attributes]", "country_code", {:selected =>address_form.object.country_code}, {class: "form-control"})
      %br/
      %br/

  = submit_tag("Save", class: 'btn btn-sm btn-primary') do
    %i.icon-ok 