.box-body
  = simple_form_for @client do |f|
    = hidden_field_tag "address_id", @address.id
    .form-group
      = label_tag :name, "Name"
      %br/
      = text_field_tag "client[name]", @client.name, class: 'form-control', placeholder: 'Enter name'
    .form-group
      = label_tag :currency, "Currency"
      = currency_select("client", "currency_code", { selected: @client.currency_code}, {}, class: 'form-control')
    %h3 Client Address Details
    .form-group
      = label_tag :address_street_1, "Street1"
      = text_field_tag "address[street_1]", @address.street_1, class: 'form-control', placeholder: 'Enter street 1'
    .form-group
      = label_tag :address_street_2, "Street2"
      = text_field_tag "address[street_2]", @address.street_2, class: 'form-control', placeholder: 'Enter street 2'
    .form-group
      = label_tag :address_city, "city"
      = text_field_tag "address[city]", @address.city, class: 'form-control', placeholder: 'Enter city'
    .form-group
      = label_tag :address_state, "State"
      = text_field_tag "address[state]", @address.state, class: 'form-control', placeholder: 'Enter state'
    .form-group
      = label_tag :address_pincode, "Pincode"
      = text_field_tag "address[pincode]", @address.pincode, class: 'form-control', placeholder: 'Enter pincode'
    .form-group
      = label_tag :address_country, "Country"
      = country_select("address", "country_code", { selected: @address.country_code }, { class: "form-control" })
    .box-footer
      = f.submit "Save", class: 'btn btn-primary', id: "submit_button"