%section.content-header
  %h1 Company Detail
%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          %p Company Name: #{@company.name}
          %p Street1: #{@company.address_street_1}
          %p Street2: #{@company.address_street_2}
          %p City: #{@company.address_city}
          %p State: #{@company.address_state}
          %p Pincode: #{@company.address_pincode}
          %p Country: #{country_name(@company.address_country_code)}
  .box-footer
    = link_to "Edit", edit_company_path(@company), class: 'btn btn-primary'