.login-box-body
  %h4.login-box-msg= t('login.captions.header')
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render "layouts/shared/notification"
    .form-group.has-feedback
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('common.captions.email')
      %span.glyphicon.glyphicon-envelope.form-control-feedback
    .form-group.has-feedback
      = f.password_field :password, class: 'form-control', placeholder: t('login.captions.password')
      %span.glyphicon.glyphicon-lock.form-control-feedback
    .row
      .col-xs-8
        .checkbox.icheck
          %label
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              = t('login.captions.remember_me')
      .col-xs-4
        = f.submit t('login.captions.button.sign_in'), class: 'btn btn-primary btn-block btn-flat', data: { disable_with: 'Signing...' }
  = render 'devise/shared/links'
  
:javascript
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%'
    });
  });