%section.content-header
  %h1
    Log in
%section.content
  .row
    .col-md-6
      .box.box-primary
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .box-body
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, id: 'exampleInputEmail1', class: 'form-control', placeholder: 'Enter email'
            .form-group
              = f.label :password
              = f.password_field :password, id: 'exampleInputEmail1', class: 'form-control', placeholder: 'Enter password'
          .box-footer
            = f.submit "Log in", class: 'btn btn-primary'