%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          = form_for @user, :url => url_redirect, html: { method: method_used } do |f|
            .box-body
            .form-group
              = f.label :first_name
              = f.text_field :first_name, class: 'form-control', placeholder: 'Enter first name'
            .form-group
              = f.label :last_name
              = f.text_field :last_name, class: 'form-control', placeholder: 'Enter last name'
            .box-footer
              = f.submit "save", class: "btn btn-primary", id: "submit_button", data: { disable_with: "Please wait..." }