%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          = form_for @user, url: url_redirect, html: { method: method_used } do |f|
            .box-body
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email'
            - if @user.new_record?
              .form-group
                = f.label :password
                = f.password_field :password, class: 'form-control', placeholder: 'Enter password'
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter confirm password'
            .form-group
              = f.label :first_name
              = f.text_field :first_name, class: 'form-control', placeholder: 'Enter first name'
            .form-group
              = f.label :last_name
              = f.text_field :last_name, class: 'form-control', placeholder: 'Enter last name'
            .form-group
              = f.label :role
              = f.select(:role, get_roles, {class: "form-control"})
            .box-footer
              = f.submit "save", class: "btn btn-primary", id: "submit_button", data: { disable_with: "Please wait..." }