%section.content-header
  %h1= t('common.captions.password_form')
%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          = form_for current_user, :url => :update_password, html: { method: :post } do |f|
            .box-body
              .form-group
                = label_tag :current_password
                = f.password_field "current_password", class: 'form-control', placeholder: t('common.captions.enter_current')
              .form-group
                = label_tag :new_password
                = f.password_field "password", class: 'form-control', placeholder: t('common.captions.enter_new')
              .form-group
                = label_tag :new_password_confirmation
                = f.password_field "password_confirmation", class: 'form-control', placeholder: t('common.captions.enter_confirm')
            .box-footer
              = f.submit t('common.captions.submit_caption'), class: "btn btn-primary btn-flat", id: "submit_button", data: { disable_with: t('common.captions.save_disable') }