%h1 Edit User
%br/
= form_for @user, url: "/user/#{@user.id}", html: { method: :put } do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label "Role"
    %br/
    = f.select :role, options_for_select(User::ROLE, f.object.role)
  .actions
    %br/
    = f.submit "Update"
