%h1 Edit User
.clearfix
= form_for @user, url: "/user/#{@user.id}", html: { method: :put, onsubmit: "document.getElementById('submit_button').disabled = 1;" } do |f|
  .row
    .col-xs-12
      .col-xs-2
        = f.label :email
      .col-xs-10
        = f.email_field :email, autofocus: true, class: "col-xs-10 col-sm-5"
  .spacer10
  .row
    .col-xs-12
      .col-xs-2
        = f.label :first_name
      .col-xs-10
        = f.text_field :first_name, class: "col-xs-10 col-sm-5"
  .spacer10
  .row
    .col-xs-12
      .col-xs-2
        = f.label :last_name
      .col-xs-10
        = f.text_field :last_name, class: "col-xs-10 col-sm-5"
  .spacer10
  .row
    .col-xs-12
      .col-xs-2
        = f.label :role
      .col-xs-10
        = f.select :role, options_for_select(UserHelper::ROLES_OPTIONS, f.object.role), class: "col-xs-10 col-sm-5"
  .spacer10
  .row
    .col-xs-12
      .col-xs-10.col-sm-offset-2
        .actions
        = f.submit "Update", class: "btn btn-info", id: "submit_button"
