%section.content-header
  %h1.pull-left Users
  .pull-right= link_to "New User", new_user_path, class: 'btn btn-primary btn-flat'
  .spacer20
%section.content
  .spacer5
  .row
  .col-md-12
  .box
    .box-body
      - if @users.present?
        %table.table.table-bordered
          %tbody
            %tr
              %th.tbl-header-width-10 Sr. #
              %th.tbl-header-center Email
              %th.tbl-header-center First Name
              %th.tbl-header-center Last Name
              %th.tbl-header-center Role
              %th.tbl-header-center Actions
          - @users.each_with_index do |user, index|
            %tr
              %td
                = index+1
                \.
              %td.tbl-header-center= user.email
              %td.tbl-header-center= user.first_name
              %td.tbl-header-center= user.last_name
              %td.tbl-header-center= user.role
              %td.tbl-header-center
                = link_to user_path(user) do
                  %i.fa.fa-eye
                %span.width_spacer5
                = link_to edit_user_path(user) do
                  %i.fa.fa-edit
                %span.width_spacer5
                = link_to user_path(user), method: :delete, data: { confirm: "Are you sure?" }  do
                  %i.fa.fa-trash-o
      - else
        %h3.not_records_found_h3 No User Found.
