%h1 Users
= link_to "New", new_user_path

%table.table.table-striped.table-bordered.table-hover.clearfix
  %thead
    %tr
      %th No.
      %th Email
      %th First Name
      %th Last Name
      %th Role
      %th Actions
  - @users.each_with_index do |user, index|
    %tr
      %td
        = index+1
        \.
      %td= user.email
      %td= user.first_name
      %td= user.last_name
      %td= user.role
      %td
        %div
          .inline.position-relative
            .col-md-2
              = link_to "View", user_path(user)
            .col-md-2
              = link_to "Edit", edit_user_path(user)
            .col-md-3
              = link_to "Delete", user_path(user), onclick: "return confirm('Are you sure?');return false;", method: :delete
