%section.content-header
  %h1 User Profile
%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          %p Email: #{@user.email}
          %p Firstname: #{@user.first_name}
          %p Lastname: #{@user.last_name}
          %p Role: #{@user.role}
        .box-footer
          = link_to "Back", user_index_path, class: 'btn btn-primary btn-flat'