%tr
  %td= payment.invoice.invoice_number
  %td= payment_total_formatted( payment )
  %td= payment.payment_method.gsub('_',' ')
  %td= l payment.date_of_payment
  %td
    = link_to edit_invoice_payment_path(payment.invoice,payment) do
      %i.fa.fa-edit