- @invoice.payments.order("date_of_payment DESC").each do |payment|
  %tr
    %td= payment.invoice.invoice_number
    %td= l payment.date_of_payment
    %td= payment.payment_method
    %td= "#{payment.invoice.currency_code.upcase} #{number_with_precision(payment.payment_amount, precision: 2)}"


