-if is_admin?
  = form_for @item, remote: true do |f|
    #modal-form.modal{tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", type: "button"} &times;
            %h4.blue.bigger
              -if @item.new_record?
                New Item
              -else
                Edit Item
          .modal-body.overflow-visible
            #e1
              - if flash[:error].present?
                %br
                  .alert.alert-danger{role: "alert"}
                    %span.sr-only Error:
                    %a.close{"data-dismiss" => "alert", href: "#"} &times;
                    = flash[:error]
                    - flash.clear
            .box-body
              .form-group
                = f.label "New"
                %span{:style => "color:red;"} *
                = f.text_field :name, class: 'form-control'
              .form-group
                = f.label :description
                = f.text_field :description, class: 'form-control'
              .form-group
                = f.label "price"
                %span{:style => "color:red;"} *
                = f.text_field :price, class: 'form-control'
              .space-4
          .modal-footer
            %button.btn.btn-sm.btn-primary{"data-dismiss" => "modal"}
              Cancel
            = f.submit "save", class: "btn btn-sm btn-primary"