= form_for @tax do |f|
  .form-group
    = f.label :name, "Name"
    %span.mandatory-field-color *
    = f.text_field :name, class: 'form-control', placeholder: 'Enter name'
  .form-group
    = f.label :rate, "Rate"
    %span.mandatory-field-color *
    = f.text_field :rate, class: 'form-control', placeholder: 'Enter rate'
  .form-group
    = f.label :description, "Description"
    = f.text_field :description, class: 'form-control', placeholder: 'Description'
  - if get_taxes != []
    .form-group
      = f.label :parent, "Parent"
      = f.select(:parent_id, get_taxes, {include_blank: true}, {class: "form-control"})
  .box-footer
    = f.submit "Save", class: 'btn btn-primary btn-flat', id: "submit_button", data: { disable_with: t('common.captions.save_disable') }