= form_for @tax do |f|
  .form-group
    = f.label :name, "Name"
    = f.text_field :name, class: 'form-control', placeholder: 'Enter name'
  .form-group
    = f.label :rate, "Rate"
    = f.text_field :rate, class: 'form-control', placeholder: 'Enter rate'
  .form-group
    = f.label :description, "Description"
    = f.text_field :description, class: 'form-control', placeholder: 'Description'
  .form-group
    = f.label :parent, "Parent"
    = f.select(:parent_id, get_taxes, {include_blank: true}, {class: "form-control"})
  .box-footer
    = f.submit "Save", class: 'btn btn-primary', id: "submit_button"