- if current_user.present?
  %aside.main-sidebar
    / sidebar: style can be found in sidebar.less
    %section.sidebar{:style => "height: auto;"}
      %ul.sidebar-menu
        - if current_user.present?
          %li
            = link_to root_path do
              %i.fa.fa-dashboard
              %span Home
          %li
            = link_to invoices_path do
              %i.fa.fa-th
              %span Invoices
          %li
            = link_to payments_path do
              %i.fa.fa-th
              %span Payments
          - if is_admin? && current_user.company.present?
            %li
              = link_to clients_path do
                %i.fa.fa-user
                %span Clients
            %li
              = link_to user_index_path do
                %i.fa.fa-user
                %span Users
            %li
              = link_to items_path do
                %i.fa.fa-user
                %span Items
          - if is_admin?
            %li
              = link_to companies_path do
                %i.fa.fa-bars
                %span Company
          - if is_admin? && current_user.company.present?
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-edit
                %span Edit User
          %li
            = link_to logout_path do
              %i.fa.fa-circle-o
              %span Sign Out
 