- if current_user.present?
  %aside.main-sidebar.main_sidebar_sticky
    %section.sidebar.sidebar_height_auto
      %ul.sidebar-menu
        %li
          = link_to root_path do
            %i.fa.fa-dashboard
            %span Home
          - if current_user.company.present? && current_user.clients.exists?
            %li
              = link_to invoices_path do
                %i.fa.fa-th
                %span Invoices
          - if is_admin? && current_user.company.present?
            %li
              = link_to clients_path do
                %i.fa.fa-user
                %span Clients
            %li
              = link_to user_index_path do
                %i.fa.fa-user
                %span Users
            %li
              = link_to items_path do
                %i.fa.fa-user
                %span Items
          - if is_admin?
            %li
              = link_to companies_path do
                %i.fa.fa-bars
                %span Company
          - if is_admin? && current_user.company.present?
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-edit
                %span Edit User
          %li
            = link_to logout_path do
              %i.fa.fa-circle-o
              %span Sign Out
 