!!!
%html
  %head
    %title Invoiceme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.skin-blue
    .wrapper
      = render partial: 'layouts/navigation'
      = render partial: 'layouts/left_sidebar'
      .content-wrapper
        - if flash.present?
          .row
            .col-md-12
              .box-primary
                .box-body
                  = render "layouts/shared/notification"
        = yield
        = render partial: 'layouts/footer'