!!!
%html
  %head
    %title Invoiceme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header 
          %a.navbar-brand
            InvoiceMe
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{class: "#{top_navbar_active_class_name('home','index')}"} 
              = link_to "Home", root_path
            %li{class: "#{top_navbar_active_class_name('invoices','index')}"} 
              = link_to "Invoices", ""
            %li{class: "#{top_navbar_active_class_name('clients','index')}"} 
              = link_to "Clients", clients_path
            -if current_user.present? && current_user.role.to_s == "Admin"
              %li{class: "#{top_navbar_active_class_name('companies','new')}"} 
                = link_to('Companies',"#modal-form","data-toggle" => "modal")
          %ul.nav.navbar-nav.pull-right
            -if current_user.present?
              %li
                = link_to 'Edit User', edit_user_registration_path
              %li
                = link_to "SignOut", destroy_user_session_path, method: "delete"
            -else
              %li
                = link_to "SignUp", new_user_registration_path
              %li
                = link_to "SignIn", new_user_session_path
    .container
      = render "layouts/shared/notification"
      = yield
      = render "companies/company"