!!!
%html
  %head
    %title Invoiceme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body.login-page
      .login-box
        .login-logo
          %b>= t('logo_text_1')
          = t('logo_text_2')
        = yield