!!!
%html
  %head
    %title Invoiceme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.skin-blue.sidebar-collapse
    .wrapper
      = render partial: 'layouts/navigation'
      .content-wrapper
        = render "layouts/shared/notification"
        = yield
        = render partial: 'layouts/footer'